<section class="user-profile-page">
  <div class="user-container">
      <img class="user-photo" src="<%= @user.photo %>">
      <div class="user-infos">
        <p>User name: <%= @user.name %></p>
        <span>|</span>
        <p>Number of posts: <%= @user.post_counter || 0 %>
        </p>
      </div>
    </div>
    <h2>User Bio</h2>
  <div class="user-bio">
    <p class="bio-text"><%=@user.bio%>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, ligula ac accumsan posuere, est dolor posuere orci, nec iaculis neque lectus ut orci. Quisque sodales dui et rutrum egestas. Vivamus commodo, urna ut vehicula malesuada, sem elit mollis erat, ut placerat felis elit vitae purus. Praesent fringilla nulla vitae.</p>
    </p>
  </div>
  <h2>User Posts</h2>
  <%@user.recent_posts.each do |post| %>
  <div class="post-item" onclick="window.location.href='/users/<%= @user.id %>/posts/<%= post.id %>'">
    <h2><%=post.title%></h2>
    <p><%=post.text%></p>
    <p class="post-counters">Comments: <%=post.comments_counter || 0 %>, Likes: <%=post.likes_counter || 0 %></p>
  </div>
  <%end%>
  <button class="btn"><i class="fas fa-angle-double-right"></i> <%= link_to "See all posts", "/users/#{@user.id}/posts"%></button>
</section>

