<section class='post-page'>
<button class='btn' onclick="window.location.href='/users/<%= @post.author_id %>/'">
  <i class="fas fa-chevron-left"></i> Back to User
</button>
  <div class='single-post'>
    <div class='post-top'>
      <div class='post-header'>
        <h3>
          <%= @post.title %> <i>by</i> <%= @post.author.name %>
        </h3>
        <p>
          Comments: <%= @post.comments_counter || 0 %>
          Likes: <%= @post.likes_counter || 0 %>
        </p>
      </div>
      <p class='post-text'><%= @post.text%> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, ligula ac accumsan posuere, est dolor posuere orci, nec iaculis neque lectus ut orci. Quisque sodales dui et rutrum egestas. Vivamus commodo, urna ut vehicula malesuada, sem elit mollis erat, ut placerat felis elit vitae purus. Praesent fringilla nulla vitae.</p>
      </p>
    </div>
    <%= link_to "Add comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id ), class: "btn" %>
    <div  class='comment-form'>
      <%= form_with model: @comment, url: user_post_comments_path(@post.author, @post, @comment) do |form| %>
        <%= form.text_area :text%>
        <%= form.hidden_field :author_id, value: @post.author.id %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <%= button_tag type: 'submit', class:'btn' do %>
          <i class="fas fa-comment-dots"></i> Post a Comment
        <% end %>
      <% end %>
    </div>
    <div class='like-form'>
      <%= form_with model: @like, url: user_post_likes_path(@post.author, @post, @like) do |form| %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <%= button_tag type: 'submit', class:'btn' do %>
          <i class="fas fa-heart"></i> Give a Like
        <% end %>
      <% end %>
    </div>
  </div>
</section>